body{
  background-color: #f0f0f0;
}
.shadowbox p{
  margin: 1px;
}
.shadowbox {
  width: 60%;
  text-align: left;
  border: 1px solid #333;
  box-shadow: 3px 3px 3px #444;
  padding: 5px 5px;
  border-radius: 10px;
}
.shadowbox-center {
  width: 60%;
  text-align: center;
  align: center;
  border: 1px solid #333;
  box-shadow: 3px 3px 3px #444;
  padding: 5px 5px;
  border-radius: 10px;
}
.int {
  width: 100%;
  text-align: left;
  padding: 5px 5px;
}
.tab {
  text-align: center;
  width: 100%;
}
.error {
  color: red;
}

.superiore{
  margin: auto;
  width: 50vw;
}

.superioregestionale{
  margin: auto;
  width: 80vw;
}

h1{
  text-align: center;
}

h4{
  text-align: center;
}

#gue{
  padding-left: 20px;
  padding-right:20px;
}

#franco{
  padding-left: 0px;
}
#paolo{
  padding-left: 20px;
  padding-right:20px;
}

#john {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alzati{
  border-color: #f0f0f0;
}

.alzatidai{
  border-color: #f0f0f0;
  height: 38px
}
/*
.alzatidaidai{
  padding-top: 19px;
  padding-bottom: 22.1px;
  margin-bottom: 0px;
}
*/
#centrati{
  text-align: center;
}

.log{
  width: 30vw;
}

.list-group button{
  background-color: #f0f0f0;
}

.list-group button:hover{
  background-color: #007bff;;
  color: white;
}

.list-group-item{
  background-color: #f0f0f0;
}

.sis{
  background-color: white;
}

.sis:hover{
  background-color: #007bff;;
  color: white;
}

.titoli {
  font-family: 'Ubuntu', sans-serif;
}

.scrittebase {
  font-family: 'Montserrat', sans-serif;
}

.ombradialde{
  -webkit-box-shadow: 10px 9px 7px -7px rgba(0,0,0,0.57);
box-shadow: 10px 9px 7px -7px rgb(0 0 0 / 57%);
}

@media only screen and (max-width: 700px) and (min-width: 100px){
  .superiore{
    width: 70vw;
  }
}
