{% extends "template.html" %}
{% block title %}Aggiungi Mezzi{% endblock %}
{%  block pagecontent %}
<h1>Aggiunta Mezzo</h1>
<div class="superiore">
  <div class="card border-dark mb-3">
    <h4 class="card-header">Nuovo Mezzo</h4>
    <div class="card-body text-dark">
      <form method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Targa</label>
            <input  name="targa" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="cf">Cf cliente</label>
            <select onchange="openPage(this);" name="cfcliente" class="custom-select" id="inputGroupSelect01" required>
              <option selected>...</option>
              {% for item in lista %}
              <option>{{item.cf}}</option>
              {% endfor %}
                <option value="Aggiungi CF">Nuovo Cliente</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="marca">Marca</label>
            <input  name="marca" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="modello">Modello</label>
            <input name="modello" type="text" class="form-control" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cilindrata">Cilindrata</label>
            <input  name="cilindrata" type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="potenza">Potenza</label>
            <input name="potenza" type="text" class="form-control" required>
          </div>
        </div>
        <br>
        <center>
        <input name="sub" class="btn btn-primary btn-outline-primary btn-lg" type="submit" value="Aggiungi">
        </center>
        <br>
      </form>
    </div>
  </div>
</div>
</center>
{% endblock %}
