{% extends "template.html" %}
{% block title%}Riparazioni{% endblock %}
{% block pagecontent %}
<center>
<h1>Riparazioni in corso</h1>
<br>
{% for item in listariparazioniincorso%}
<div class="card">
  <h3 class="card-header">{{item.descrizione}}</h3>
  <div class="card-body">
    <p class="card-text">Proprietario: {{item.cognome}} {{item.nome}}</p>
    <p class="card-text">Mezzo: {{item.marca}} {{item.modello}}</p>
    <p class="card-text">{{item.inizio}}</p>
    <form action="" method="post">
      <input type="submit" name={{item._id}} value="Terminato!">
    </form>
  </div>
</div>
<br>
{%endfor%}
</center>
{%endblock %}
