{% extends "template.html" %}
{% block title%}Home{% endblock %}
{% block pagecontent %}
<center>
<h1>Storico</h1>

<form class="" action="" method="POST">
  <table>
    <tr>
    <td><p>Cerca tramite</p></td>
    <td><select name="scelta" class="form-select" id="inputGroupSelect01">
    <option selected>Seleziona</option>
    <option>CF</option>
    <option>Targa</option>
    </select></td>
    <td><input type="text" name="ricerca" value=""></td>
    </tr>
    </table>
    <input type="submit" name="sub" value="Cerca">
</form>
<p>{{frase}}</p>
<br>
{% if controllo==0%}
<h2>Riparazioni</h2>
{% for item in listariparazioni %}
<div class="shadowbox-center">
<p><b>Riparazione:</b></p>
<p>Descrizione: {{item.descrizione}}</p>
<p>Stato: {{item.stato}}</p>
<p>Inizio: {{item.inizio}}</p>
<p>Fine: {{item.fine}}</p>
<p>Prezzo: {{item.prezzo}}</p>
<p>Targa: {{item.targamezzo}}</p>
</div><br>
{% endfor %}
<br><br>
<h2>Mezzi</h2>
{% for item in listamezzi %}
<div class="shadowbox-center">
<p><b>Veicolo:</b></p>
<p>Targa: {{item.targa}}</p>
<p>Marca: {{item.marca}}</p>
<p>Modello: {{item.modello}}</p>
<p>Cilindrata: {{item.cilindrata}}</p>
<p>Potenza: {{item.potenza}}</p>
<p>Proprietario: {{item.cfcliente}}</p>
</div><br>
{% endfor %}
<br><br>
<h2>Clienti</h2>
{% for item in listaclienti %}
<div class="shadowbox-center">
<p><b>Cliente:</b></p>
<p>Codice Fiscale: {{item.cf}}</p>
<p>Nome: {{item.nome}}</p>
<p>Cognome: {{item.cognome}}</p>
<p>Numero di telefono: {{item.ntelefono}}</p>
<p>Email: {{item.email}}</p>
</div><br>
{% endfor %}
<br><br>
{% elif controllo==1 %}
{% for item in listariparazioni %}
<div class="shadowbox-center">
<p><b>Riparazione:</b></p>
<p>Descrizione: {{item.descrizione}}</p>
<p>Stato: {{item.stato}}</p>
<p>Inizio: {{item.inizio}}</p>
<p>Fine: {{item.fine}}</p>
<p>Prezzo: {{item.prezzo}}</p>
<p>Targa: {{item.targamezzo}}</p>
</div><br>
{% endfor %}
{% for item in listamacchine %}
<div class="shadowbox-center">
<p><b>Veicolo:</b></p>
<p>Targa: {{item.targa}}</p>
<p>Marca: {{item.marca}}</p>
<p>Modello: {{item.modello}}</p>
<p>Cilindrata: {{item.cilindrata}}</p>
<p>Potenza: {{item.potenza}}</p>
<p>Proprietario: {{item.cfcliente}}</p>
</div><br>
{% endfor %}
{%elif controllo==2%}
{% for item in listariparazioni %}
<div class="shadowbox-center">
<p><b>Riparazione:</b></p>
<p>Descrizione: {{item.descrizione}}</p>
<p>Stato: {{item.stato}}</p>
<p>Inizio: {{item.inizio}}</p>
<p>Fine: {{item.fine}}</p>
<p>Prezzo: {{item.prezzo}}</p>
<p>Targa: {{item.targamezzo}}</p>
</div><br>
{% endfor %}
{% for item in listaproprietari %}
<div class="shadowbox-center">
<p><b>Proprietario:</b></p>
<p>Codice Fiscale: {{item.cf}}</p>
<p>Nome: {{item.nome}}</p>
<p>Cognome: {{item.cognome}}</p>
<p>Numero di telefono: {{item.ntelefono}}</p>
<p>Email: {{item.email}}</p>
</div><br>
{% endfor %}
{%endif%}
<center>
{%endblock %}
